@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
/*#region*/
/* -------------------- COLOR STYLING -------------------- */
:root {
  --beluga-light: white; 
  --beluga-medium: #1565c0; 
  --beluga-dark: #0d47a1; 
  --beluga-white: #f0f9ff; 
  --beluga-dark-gray: #1976d2; 
}

/* -------------------- GLOBAL BODY -------------------- */
/* #region */
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  height: 100%;
}

.light-theme {
  background-color: var(--beluga-light);
  color: var(--beluga-dark);
}

.dark-theme {
  background-color: var(--beluga-dark);
  color: var(--beluga-white);
}

.logo-light, .logo-dark{
  width: 200px;
  height: auto;
}
/* #endregion */

/* -------------------- NAV BAR BODY -------------------- */
.light-theme .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 20px 20px;
  font-size: 30px;
  height: 60px; 
  color: var(--beluga-dark);
}

.dark-theme .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 20px 20px;
  font-size: 30px;
  height: 60px; 
  color: var(--beluga-light);
}

.nav-logo-light, .nav-logo-dark{
  width: 100px;
  height: auto;
}

/* -------------------- MENU BODY -------------------- */
/* #region */
#menu {
  display: inline-block;
  align-items: center; 
  width: 15%;
  height: 100vh;
  padding: 20px;
}

.menu-button {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  border-radius: 8px;
  padding: 15px;
  margin: 20px auto;
  cursor: pointer;
  border: none; 
  width: 80%;
  font-size: 18px;
}

.menu-button:hover {
  background-color: var(--beluga-white);
  color: var(--beluga-dark); 
  transition: background-color 0.3s; 
}

.menu-button.active {
  background-color: var(--beluga-dark);
  color: var(--beluga-white);
}

.menu-button.inactive {
  background-color: var(--beluga-light); 
  color: var(--beluga-dark);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.popup {
  background: white;
  color: var(--beluga-dark);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup-logo {
  width: 100px;
  height: auto;
}

.copy-popup {
  background: white;
  color: var(--beluga-dark);
  font-size: 18px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup button {
  border-style: none;
  border-radius: 8px;
  background-color: var(--beluga-dark);
  color: var(--beluga-light);
  padding: 8px 16px 8px 16px;
  margin-right: 10px;
}

.popup button:hover {
  border-style: none;
  border-radius: 8px;
  background-color: var(--beluga-white);
  color: var(--beluga-dark);
  padding: 8px 16px 8px 16px;
  margin-right: 10px;
}

/* #endregion */

/* -------------------- CONTENT BODY -------------------- */
/* #region */
#content {
  display: inline-block;
  width: 83%;
  height: 100vh;
  vertical-align: top;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--beluga-dark);
  border-radius: 4px;
  background-color: var(--beluga-light); 
  color: var(--beluga-dark);
}

.search-icon {
  margin-left: -30px;
  cursor: pointer;
  color: var(--beluga-dark); 
}
/* #endregion */

/* -------------------- BUTTONS -------------------- */
/* #region */
.buttons-container {
  display: flex;                 
  justify-content: flex-start;   
  align-items: center;           
  margin-bottom: 20px;           
  gap: 20px;
}

.action-button {
  display: inline-block;
  margin-right: 10px;           
  padding: 8px 16px;           
  border: none;                
  border-radius: 4px;           
  cursor: pointer;     
}

.light-button {
  background-color: var(--beluga-dark);          
  color: var(--beluga-white);
  border: 1px solid var(--beluga-dark);
}

.dark-button {
  background-color: var(--beluga-white);
  color: var(--beluga-dark);
  border: 1px solid var(--beluga-white);
}

.light-theme .action-button:hover{
  background-color: var(--beluga-light);
  color: var(--beluga-dark); 
  transition: background-color 0.3s; 
}

.dark-theme .action-button:hover{
  background-color: var(--beluga-dark);
  color: var(--beluga-light); 
  transition: background-color 0.3s; 
}
/* #endregion */

/* -------------------- MAIN -------------------- */
/* #region */
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-nav {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--beluga-dark);
}

.main-button {
  font-family: 'Nunito', Arial, Helvetica, sans-serif; 
  font-size: 20px;
  padding: 8px 16px;      
  width: 200px;     
  border: none;                
  border-radius: 4px;           
  cursor: pointer;     
  margin-bottom: 20px;
}

.main-button:hover {
  background-color: var(--beluga-dark);
  color: var(--beluga-light);
  transform: scale(1.05); /* Slightly enlarge the button */
}

.tab-container {
  display: flex;
  width: 400px;
  justify-content: center;
  margin: 0px;
}

.tab {
  width:250px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: var(--beluga-dark);
  cursor: pointer;
  background-color: var(--beluga-dark);
  color: var(--beluga-light);
  transition: background-color 0.3s;
  margin-bottom: 0px;
  font-size: 18px;
}

.tab.active {
  background-color: var(--beluga-light); /* Active tab blue color */
  color: var(--beluga-dark);
}

.tab:not(.active):hover {
  background-color: var(--beluga-white); /* Hover effect for inactive tabs */
  color: var(--beluga-dark)
}

.form-container {
  display: flex;
  width:400px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: var(--beluga-light);
  border-radius: 0px 0px 10px 10px;
  border: solid var(--beluga-dark);
  border-width: 0px 1px 1px 1px;
}

/* #endregion */

/* -------------------- REGISTER -------------------- */
/* #region */
.register-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--beluga-dark);
  margin-top: 10px;
  width: 500px;
  height: 250px;
}

.register-button, .direct-login-button{
  font-family: 'Nunito', Arial, Helvetica, sans-serif; 
  font-size: 15px;
  padding: 8px 16px;      
  width: 150px;     
  border: none;                
  border-radius: 4px;           
  cursor: pointer;    
  background-color: var(--beluga-dark); 
  color: var(--beluga-light);
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-button:hover, .direct-login-button:hover{
  background-color: var(--beluga-white);
  color: var(--beluga-dark);
  transform: scale(1.05); /* Slightly enlarge the button */
}

.password-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', Arial, Helvetica, sans-serif; 
  margin-top: 10px;
}

.register-successful-row{
  display: flex;
  align-items: center; /* Align label and input vertically in the middle */
}

.register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-disclosure{
  font-size: 10px;
  margin: 10px;
  text-align: center;
}

.register-label{
  display: inline-block;
  margin-bottom: 10px;
}

.register-successful-label{
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}

.register-input, .register-successful-input{
  display: inline-block;
  width: 150px;
  height: 25px;
}
/* #endregion */

/* -------------------- LOGIN -------------------- */
/* #region */
.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--beluga-dark);
  width: 500px;
  height: 250px;
  margin: 0px;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  font-family: 'Nunito', Arial, Helvetica, sans-serif; 
  font-size: 15px;
  padding: 8px 16px;      
  width: 150px;     
  border: none;                
  border-radius: 4px;           
  cursor: pointer;    
  background-color: var(--beluga-dark); 
  color: var(--beluga-light);
  margin-top: 40px;
}

.login-button:hover {
  background-color: var(--beluga-white);
  color: var(--beluga-dark);
  transform: scale(1.05); /* Slightly enlarge the button */
}

.login-label{
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}

.login-input{
  width: 150px;
}

/* #endregion */

/* -------------------- PEERS -------------------- */
/* #region */
.peers-container {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--beluga-light); /* Default background for light theme */
  border: 1px solid var(--beluga-dark); 
}

.dark-theme .peers-container {
  background-color: var(--beluga-dark);
  color: var(--beluga-light);
  border: 1px solid var(--beluga-light); /* Change border color for dark theme */
}

.light-theme .peers-container {
  border: 1px solid var(--beluga-dark); /* Keep border for light theme */
  background-color: var(--beluga-light);
  color: var(--beluga-dark);
}
/* #endregion */

/* -------------------- CLOUD DRIVE -------------------- */
/* #region */
.cloud-drive-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid var(--beluga-dark);
  border-radius: 8px;
  background-color: var(--beluga-light); 
}

.dark-theme .cloud-drive-container {
    background-color: var(--beluga-dark); /* Change background for dark theme */
    color: var(--beluga-light); /* Change text color for dark theme */
    border: 1px solid var(--beluga-light); /* Change border color for dark theme */
}

.light-theme .cloud-drive-container {
  background-color: var(--beluga-light); /* Keep background for light theme */
  color: var(--beluga-dark); /* Change text color for light theme */
  border: 1px solid var(--beluga-dark); /* Keep border for light theme */
}

.files-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 8px;
}

.file-actions{
  display: flex;
  gap: 20px;
}
/* #endregion */

/* -------------------- TRANSACTIONS -------------------- */
/* #region */
.transactions-container {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--beluga-light); 
  border: 1px solid var(--beluga-dark);
}

.dark-theme .transactions-container {
  background-color: var(--beluga-dark); 
  color: var(--beluga-light); 
  border: 1px solid var(--beluga-light);
}

.light-theme .transactions-container {
  background-color: var(--beluga-light); 
  color: var(--beluga-dark); 
  border: 1px solid var(--beluga-dark); 
}

.transaction-item, .file-item {
  padding: 10px;
  border-bottom: 1px solid var(--beluga-dark);
}

.transaction-item:last-child, .file-item:last-child {
  border-bottom: none; 
}
/* #endregion */

/* -------------------- WALLET -------------------- */
/* #region*/
.wallet-container {
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--beluga-white);
  border-style: solid;
  border-radius: 8px; 
  border-color: var(--beluga-dark);
}

.dark-theme .wallet-container {
  background-color: var(--beluga-dark);
  color: var(--beluga-dark); 
  border: 1px solid var(--beluga-light);
}

.light-theme .wallet-container {
  background-color: var(--beluga-light); 
  color: var(--beluga-dark); 
  border: 1px solid var(--beluga-dark);
}

.wallet-block {
  margin-right:20px;
  margin-bottom: 20px;
  display: inline-block;
  width: calc(25% - 20px);
  padding: 15px;
  background-color: var(--beluga-white);
  border-style: solid;
  border-radius: 8px;
  border-color: var(--beluga-medium)
}

.light-theme .wallet-block {
  margin-right:20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 15px;
  background-color: var(--beluga-white);
  border-style: solid;
  border-radius: 8px;
  border-color: var(--beluga-medium)
}

.dark-theme .wallet-block {
  margin-right:20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 15px;
  background-color: var(--beluga-dark);
  border-style: solid;
  border-radius: 8px;
  border-color: var(--beluga-light)
}

#current-balance{
  background-color: rgb(243, 241, 255);
}

.transfer-block, .graph-block {
  display: inline-block; 
  vertical-align: top; 
  width: calc(50% - 20px); 
  height: 300px;
}

.transfer-block input {
  margin-bottom: 10px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

.transfer-block button {
  padding: 10px;
  background-color: var(--beluga-medium); 
  color: var(--beluga-white);
  border: none;
  border-radius: 4px; 
  cursor: pointer;
}

.transfer-block button:hover {
  background-color: var(--beluga-dark); 
}

.transactions-block{
  display: inline-block; 
  vertical-align: top; 
  width: calc(100% - 20px); 
}

.wallet-transactions-table {
  border-collapse: collapse;
  margin-top: 1rem;
}

.wallet-transactions-table th,
.wallet-transactions-table td {
  width: 220px;
  padding: 0.8rem;
  text-align: left;
  border: 1px solid var(--beluga-dark); /* Light border for table */
}

.wallet-transactions-table th {
  background-color: rgb(243, 241, 255);
  color: var(--beluga-dark); /* Dark text for contrast */
}


.wallet-transactions-table tr:hover {
  background-color: var(--beluga-light); /* Hover effect */
  color: var(--beluga-dark);
}

.graph-placeholder {
  height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 8px;
}

.wallet-axis.light-theme{
  stroke: var(--beluga-dark);
}

.wallet-axis.dark-theme{
  stroke: var(--beluga-dark);
}

.light-theme .recharts-text{
  fill: var(--beluga-dark);
}

.dark-theme .recharts-text{
  fill: var(--beluga-light);
}

.recharts-tick {
  font-size: 12px; /* Axis tick font size */
  fill:  var(--beluga-dark);
}

.recharts-tooltip {
  border: 1px solid  var(--beluga-dark);
  border-radius: 5px; /* Tooltip rounded corners */
}

/* Customize the Legend */
.recharts-legend {
  padding: 10px; /* Padding around the legend */
  font-size: 12px; /* Legend font size */
}

/* #endregion*/

/* -------------------- SETTINGS -------------------- */
/* #region */.light-theme .settings-container {
  display: flex; 
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--beluga-dark);
}

.dark-theme .settings-container {
  display: flex; 
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--beluga-light);
}

#settings-light-theme{
  background-color: var(--beluga-white);
  color: var(--beluga-dark);
  border: 1px solid var(--beluga-dark);
}

#settings-dark-theme{
  background-color: var(--beluga-dark);
  color: var(--beluga-white);
  border: 1px solid var(--beluga-white);
}

.light-theme .settings-sidebar {
  width: 10%;
  border-right: 1px solid var(--beluga-dark);
  padding-right: 20px;
}

.dark-theme .settings-sidebar {
  width: 10%;
  border-right: 1px solid var(--beluga-light);
  padding-right: 20px;
}

.settings-sidebar h3 {
  margin-bottom: 20px;
}

.settings-menu-button {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  width: 100%; 
  padding: 10px;
  margin-bottom: 10px; 
  border: none;
  border-radius: 4px;
  background-color: var(--beluga-white);
  color: var(--beluga-dark);
  cursor: pointer;
  text-align: center; 
}

.light-theme.settings-menu-button.active, .dark-theme.settings-menu-button.inactive {
  background-color: var(--beluga-dark); 
  color: var(--beluga-white);
  border: 1px solid var(--beluga-white);
}

.dark-theme.settings-menu-button.active, light-theme.settings-menu-button.inactive {
  background-color: var(--beluga-white); 
  color: var(--beluga-dark);
  border: 1px solid var(--beluga-dark);
}

.settings-content {
  flex: 1;
  padding-left: 20px;
}

.active-theme {
  width: 100px;
  height:150px;
  margin-right: 30px;
}

.inactive-theme {
  width: 100px;
  height:150px;
  margin-right: 30px;
}

.notifications-label{
  margin-bottom: 20px;
}
/* #endregion */

/*#endregion*/
