.peers-container {
  padding: 20px;
}

.proxy-system-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.proxy-status {
  flex: 1;
  font-size: 16px;
}

.status-text {
  flex: 1;
  text-align: center;
  font-size: 16px;
}

.toggle-proxy {
  flex: 1;
  text-align: right;
}

.toggle-button, .disconnect-button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.toggle-button.active {
  background-color: green;
  color: white;
}

.toggle-button.inactive {
  background-color: red;
  color: white;
}

.disconnect-button {
  background-color: orange;
  color: white;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.proxy-list-table, .history-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.proxy-list-table th, .proxy-list-table td,
.history-table th, .history-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.proxy-list-table th, .history-table th {
  background-color: #0d47a1;
  color: white;
}

.history-table .expanded-row {
  background-color: #f9f9f9;
}

.expanded-row td {
  padding: 10px;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border: 2px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 15px;
  margin: 10px 5px;
  cursor: pointer;
}

.modal-content button:first-child {
  background-color: green;
  color: white;
  border: none;
}

.modal-content button:last-child {
  background-color: red;
  color: white;
  border: none;
}

.modal .modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.history-table th, .history-table td {
  padding: 10px;
}